---
import Main from "../components/Main.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="About">
  <Main className="space-y-4">
    <h2 class="text-3xl font-extrabold -tracking-tight">Hello Astro</h2>
    <p>Trying astro for the first time with amazing features.</p>
  </Main>
</Layout>
