---
import { getCollection } from "astro:content";
import Main from "../components/Main.astro";
import PostList from "../components/PostList.astro";
import Layout from "../layouts/Layout.astro";

const posts = await getCollection("posts");
---

<Layout title="Astro Blog">
  <Main>
    <PostList posts={posts} />
  </Main>
</Layout>
